@import '../../../scss/variables';

.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 10;
}

.signup-form-container{
    max-width: 850px;
    width: 95%;
    height: 650px;
    background: white;
    border-radius: $reddit-border-radius;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
}

.signup-form-content-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.signup-form-content{
    margin: 40px 0px 60px 20px;
}

.signup-title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 10px;
}

.signup-input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.signup-userpass-input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 278px;
    height: 140px;
}

.signup-form-btn{
    width: 100%;
    background: $reddit-blue;
    color: white;
    border: none;
    outline: none;
    height: 40px;
    border-radius: $reddit-border-radius;
    font-weight: bolder;
    font-size: 14px;
    width: 278px;
    font-family: $reddit-font;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.294);
    margin: 15px 0px 0px 0px;
}

.signup-form-btn:hover{
    cursor: pointer;
    opacity: .9;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.294);
}

.username-signup-text{
    font-size: 16px;
}

.back-btn{
    outline: none;
    background: none;
    border: none;
    font-weight: bolder;
    color: black;
    font-size: 14px;
    margin-top: 40px;
    width: 50px;
    border-radius: $reddit-border-radius;
    font-family: $reddit-font;
    cursor: pointer;
    display: block;
}