@import "../../../scss/variables";

.subforum-container {
  margin-top: $margintop-clear-navbar-height;
  display: flex;
  flex-direction: row;
  min-width: 900px;
  justify-content: space-around;
}

.vote-arrow {
  max-width: 20px;
  border-radius: 3px;
  &:hover{
      cursor: pointer;
  }
}

.voted {
  color: $reddit-blue;
}

.subforum-posts-map{
  width: 30%;
  height: 100%;
  margin: 20px 10px 0px 0px;
  display: flex;
  flex-direction: column;
}

.subforum-profile-box-section{
  width: 20%;
  height: 100%;
  margin: 20px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}