@import "../../../scss/variables";

.Search {
  margin-top: $margintop-clear-navbar-height;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  width: 90vw;
}

/* Posts */

.post-container{
  width: 680px;
  height: 100%;
  margin: 20px 10px 0px 0px;
  display: flex;
  flex-direction: column;
}

/* Chambers/Subforums */

.chamber-container {
  width: 960px;
  height: 100%;
  margin: 20px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.chamber-item {
  display: flex;
  flex-direction: row;
  width: 940px;
}

.subforum-title {
  font-weight: 700;
  font-family: $reddit-font;
}

.img-and-title-container {
  display: flex;
  flex-direction: row;
  width: 310px;
  margin-right: 16px;
}

.subforum-img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  border: 1px solid white;
}

.btn-container {
  width: 120px;
  align-self: start;
  flex-shrink: 0;
  margin-top: 8px;
  margin-left: 16px;
}

.join-btn {
  font-size: 12px;
  font-family: $reddit-font;
  line-height: 24px;
  padding: 4px 9px 2px;
  width: 100%;
  font-weight: 700;
  letter-spacing: .5px;
  border-radius: 4px;
  text-decoration: none;
}

.leave-btn {
  font-size: 12px;
  font-family: $reddit-font;
  line-height: 24px;
  padding: 4px 9px 2px;
  width: 100%;
  font-weight: 700;
  letter-spacing: .5px;
  border-radius: 4px;
  text-decoration: none;
}

/* Users */

.username {
  font-weight: 700;
  font-family: $reddit-font;
}

.user-container {
  width: 960px;
  height: 100%;
  margin: 20px 10px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  background: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.user-img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  border: 1px solid white;
  margin-top: 7px;
}

.follow-btn-container {
  width: 120px;
  align-self: start;
  flex-shrink: 0;
  margin-top: 8px;
  margin-left: 16px;
}

.follow-btn {
  font-size: 12px;
  font-family: $reddit-font;
  line-height: 24px;
  padding: 4px 9px 2px;
  width: 100%;
  font-weight: 700;
  letter-spacing: .5px;
  border-radius: 4px;
  text-decoration: none;
}

.img-and-username-container {
  display: flex;
  flex-direction: row;
  width: 310px;
  margin-right: 16px;
}

.user-item {
  display: flex;
  flex-direction: row;
  width: 940px;
}

/* Other */

.description {
  font-size: 12px;
  width: 480px;
}

.img-container {
  width: 50px;
  margin-right: 4px;
}

button:hover {
  cursor: pointer;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-info-section{
  height: 140px;
  width: 100%;
  max-width: 310px;
  margin-top: 50px;
  border-radius: $reddit-border-radius;
  border: 1px solid #ccc;
  background: white;
}

.other-info-list{
  list-style: none;
  font-size: 13px;
  margin: 0px;
  padding: 0px 0px 0px 12px;
  font-family: $reddit-font;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.other-info-list li {
  cursor: pointer;
}

.no-post-msg{
  font-family: $reddit-font;
  font-size: 30px;
  text-align: center;
}