@import '../../../scss/variables';

nav.Nav {
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    align-items: center;
    border-bottom: 2px solid black;
}

.btn-style{
    border-radius: $btn-border-radius;
    padding: 3px 16px;
    outline: none;
    font-family: sans-serif;
    font-weight: bold;
}

.login-btn{
    background: none;
    border: 1px solid $reddit-blue;
    color: $reddit-blue;
}

.signup-btn{
    background: $reddit-blue;
    color: white;
    border: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.login-signup-btns-cont{
    
}